.ipynb_checkpoints/
Note.ipynb 
test
train
val
Datasets
Potato___Early_Blight
Potato___Healthy
Potato___Late_Blight
potato_plant
test_all
ngrok.exe
1.h5
app.py
model_try_1.ipynb
pipline.PNG
potato_best_model.h5
Untitled.ipynb





